/* App.css */
.App {
  text-align: center;
  padding: 2rem;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}
.move-buttons {

}

.burger-component {
  display: flex;
  justify-content: space-between; /* Place move buttons on the far right */
  align-items: center;
  margin-bottom: 0.5rem; 
  position: relative; /* Add position relative */

  margin-bottom: 2rem; 
}

.ingredient-options {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
  gap: 1rem;
  margin-top: 2rem;
  gap: 1rem;
  
}

.ingredient {
  font-size: 2rem;
  cursor: pointer;
}
.move-button {
  background-color: #4CAF50; /* Green color for buttons */
   color: white;
  border: none;
  padding: 0.2rem 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  

  align-items: flex-end; /* Align buttons to the right side */


} 
 */
.move-button:hover {
  background-color: #45a049; /* Darker green color on hover */
}